rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }

    //ANYONE CAN CREATE EVENT
    //OWNERS CAN UPDATE EVENTS

    //ANYONE CAN CREATE A USER
    //OWNERS CAN UPDATE A USER


    //ANYONE CAN CREATE GIFT
    //OWNERS CAN UPDATE GIFTS
    
    //NEXT PLAYER (TRACKED ON EVENT) CAN UPDATE 'selectedBy' field
  }
}